/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
/MemoryCaptures/
*.csproj
*.sln
*.user
*.unityproj
.vs/
.vscode/
.idea/
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
crashlytics-build.properties
.DS_Store
